div {
    display: block;
    border: 2px solid black;
}

.uniform {
    margin: 20px;
    padding: 20px;
}

.non-uniform {
    margin: 10px 30px 20px 40px;
    padding: 20px;
}

.negative-margin {
    margin-top: -20px; /*the element will be moved up 20px as it is impossible to move it negatively 20px in all directions*/
    padding: 20px;
}