* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font: inherit;
    margin: 5em;
    background: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1, h2, h3 {
    font: 1.5em/1.2 Georgia, serif;
    padding: 0.5em 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.content {
    display: flex;
    justify-content: column;
    gap: 1em;
}

header {
    border-bottom: 3px solid #696565;
    padding-bottom: 1.2em;
}

header p {
    font-size: 2em;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;
    margin-top: 1.2em;
}

aside {
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
    margin-top: 1.2em;
}

.first-section {
    display: flex;
    margin: 1.5em;
    gap: 1em;
}

.photo {
    padding: 0.5em;
    border: 3px solid #000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.25);
    flex-grow: 50ch;
}


.left-column, .author-section {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.left-column {
    float: left;
    width: 55%;
}

.author-section {
    float: right;
    width: 35%;
    border-left: 3px solid rgb(195, 190, 190);
    font-family: Georgia, serif;
    font-style: italic;
    padding-left: 2em;
    margin-top: 1em;
}

.author-section p:nth-child(2) {
    float: right;
}

.second-section p:last-child {
    display: inline-block;
    margin: 2em 0;
}

.third-section img {
    float: left;
    border: 3px solid #000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.25);
    padding: 0.5em;
    margin: 0 20px 10px 0;
}

aside li a {
    text-decoration: none;
    color:rgb(0, 102, 0);
}