* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font: inherit;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
}

.card {
    max-width: 350px;
    border: 2px solid #eee;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
