html {
    font: 14px/1.5 Lato, sans-serif;
}

body {
    font: inherit;
    background-color: #eee;
}

body > * {
    background: white;
    padding: 0.2em;
    margin: 3em auto;
    border-radius: 5px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.container {
    max-width: 900px;
    border: 2px solid #eee;
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border: 2px solid #eee;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sidebar p {
    flex-grow: 1;
    padding: 2.5em;
}

.sidebar p:last-child {
    border-top: 2px solid #eee;
}

.week {
    flex-grow: 1;
    border: 2px solid #eee;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.title {
    padding: 2em;
}

.days {
    display: flex;
    border-top: 2px solid #eee;
}

.days p {
    flex-grow: 1;
    padding: 2em;
    border-right: 2px solid #eee;
}

.week .title:nth-child(3) {
    border-top: 2px solid #eee;
}

.days p:last-child {
    border-right: none;
}
