html {
    font: 14px/1.5 Lato, sans-serif;
}

body, input, textarea, select, option {
    font: inherit;
}

body {
    background-color: #eee;
    min-height: 100dvh; /*center the .container */
    display: flex; /*center the .container */
    justify-content: center; /*center the .container */
    align-items: center; /*center the .container */
}

.container {
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    padding: 2.5em;
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}
