div {
    border: 2px solid black;
    width: 300px;
    height: 100px;
    padding-top: 20px;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll; /* it will show both vertical and horizontal scrollbar */
    /* overflow: auto; => it will show only the necessary scrollbar*/
}