h2 {
  color: rgb(109, 5, 13);
  font-size: 2em;
  letter-spacing: 2px;
}

header ~ p {
  color: rgb(77, 3, 3);
  text-shadow: 6px 5px 2px pink;
  font-size: 1.2em;
}

h2 ~ p {
  color: grey;
  font-size: 1.1em;
}

time {
  font-style: italic;
}

span {
  font-weight: bold;
}
