html {
    font: 14px/1.5 Lato, sans-serif;
}

body, input, textarea, select, option, button {
    font: inherit;
}

body {
    background-color: #eee;
    min-height: 100dvh; /*center the .container */
    display: flex; /*center the .container */
    flex-direction: column;
    justify-content: center; /*center the .container */
    align-items: center; /*center the .container */
}

.container {
    width: 80vw;
    max-width: 350px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
}

hr {
    width: 50px;
    color: #CCC;
}

label {
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 0.5em 0.8em;
    border: 2px solid #CCC;
    border-radius: 0.3em;
    outline: none;
}

#login {
    background-color: orange;
    color: white;
    border-color: orange;
    font-weight: bold;
}

#login:hover {
    background-color: white;
    color: orange;
}

p > label::after {
    content: ' *';
    color: red;
    font-weight: bolder;
}

#password:hover, 
#email:hover {
    border-color: orange;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: rgb(63, 139, 79);
}

input[type="email"]:user-invalid,
input[type="password"]:user-invalid {
    border-color: red;
}
