html {
  font-size: 16px;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;

  /* font: clamp(11px 3vw 15px)/1.4 Helvetica, sans-serif; */
}

body,
input,
select,
textarea,
table,
button {
  font: inherit;
  padding: 1.5em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

p, ol, ul {
  padding-bottom: 1.5em;
}

ol, ul {
  padding-left: 1.5em;
  margin: 0.5em 0.5em 0.2em 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  font-weight: Georgia, serif;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

hr + h2 {
  padding-top: 0.5em;
  margin-bottom: 0.3em;
}

.first {
  list-style: square;
}

.second {
  list-style: disc;
}

.third {
  list-style: circle;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5em 0;
  text-align: left;
  font-size: 0.9em;
  table-layout: fixed; /* Ensures all columns have the same width */
}

thead th {
  background-color: #7a7a7a;
  padding: 0.3em;
  border: 1px solid #7a7a7a;
}

tbody td {
  padding: 0.3em;
  border: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
  background-color: #e7e5e5;
}

blockquote {
  font-style: italic;
  padding-left: 1.5em;
  margin: 0 4.5em;
  margin-bottom: 1em;
  border-left: 3px solid rgb(216, 213, 213);
}

blockquote p:last-child {
  text-align: right;
}

@media (max-width:800px) {
    html {
        font: 14px/1.5 Georgia, serif;
    }

    body {
        font: inherit;
    }

    h1 {
        font-size: 2.3em;
    }

    h2 {
        font-size: 2.1em;
    }

    h3 {
     font-size: 1.9em;
    }

    h4 {
    font-size: 1.7em;
    }

    h5 {
    font-size: 1.5em;
    }

    h6 {
    font-size: 1.3em;
    }
}
