html {
  font-size: clamp(12px 12px + 0.4vw 16px);
  line-height: 1.5;
  font-family: 'Montserrat', serif ;
}

body,
input,
select,
textarea,
table,
button,
option,
span {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-size: 1em;
  margin-bottom: 0.5em;
}

h1 {font-size: 2.8em;}

h2 {font-size: 2.2em;}

h3 {font-size: 1.8em;}

h4 {font-size: 1.4em;}

h5 {font-size: 1.2em;}

h6 {font-size: 1em;}

:is(p, ol, ul):not(:last-child) {
  padding-bottom: 1.5em;
}

ul, ol {
  padding-left: 1.5em;
}