html {
    font: 12px/1.5 Lato, sans-serif;
}

body {
    font: inherit;
    background-color: #eee;
}

body > * {
    background: white;
    padding: 1.5em;
    margin: 3em auto;
    border-radius: 5px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
}

.container {
    max-width: 900px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

hr {
    border: none;
    height: 2px;
    margin: 0.8em 0;
    background-color: rgb(238, 236, 236);
    border-radius: 2px;
    width: 60px;
    align-self: center;
}

header, footer {
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 1em 1em;
}

section {
    padding: 1.2em;
}

h1 {
    font-size: 1.5em;
}

header > p {
    font-style: italic;
    font-weight: 550;
    color: gray;
    max-width: 350px;
    margin-top: 0.5em;
    text-align: center;
}

footer > p {
    color: gray;
    max-width: 600px;
    margin-top: 0.5em;
    text-align: center;
}

@media (max-width: 300px) {
    main {
        flex-direction: column; /* arrange the sections vertically */
        align-items: center;
    }

    section {
        width: 100%; /* the sections will occupy the entire width */
        padding: 1em; /* decrease padding */
        box-sizing: border-box; /* avoiding overflow */
    }
}

@media (max-width: 100px) {
    body > * {
        padding: 1em; /* decrease total padding */
    }

    header > p, footer > p {
        font-size: 0.9em; /* reduce font size for smaller screens */
        max-width: 100%; /* expand text elements */
    }

    h1, h3 {
        font-size: 1.2em; /* reduce the size of the titles */
    }

    main {
        margin: 0.5em; /* margin reduction*/
    }
}