div {
    
    margin: 2em;
    box-sizing: border-box;
    border: 1px dashed rgb(83, 79, 79);
}

p {
    margin: 0;
    padding-left: 1em;
    padding-bottom: 0;
}

.margin {
    background: lightsalmon;
}

.border {
    background: rgb(243, 191, 170);
}

.padding {
    text-align: left;
    background: lightgreen;
    padding-bottom: 0;
}

.content {
    background: lightblue;
    border: 1px dashed rgb(83, 79, 79);
    text-align: center;
    padding: 2em;
}
