* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font: inherit;
    background-color: #eee;
}

.gallery {
    margin: 4.5em;
}

ul {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    gap: 1.5em;
}

ul li {
    flex: 0 0 380px;
    background-color: white;
    border: 6px solid black;
    border-radius: 4px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    padding: 1.5em;
    display: flex;
}

li {
    display: flex;
    align-items: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}